 <!-- <app-employee></app-employee> -->

<!-- <app-home (childMsg)="msgfromChild=$event" [technologyName]="title"></app-home> -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Youtube Angular 5</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="/departments-list">Departments</a></li>
      <li><a routerLink="/employees">Employees</a></li>      
    </ul>
  </div>
</nav>
  

<router-outlet></router-outlet>